@model WebApplication1.Models.Student

@{
    ViewData["Title"] = "학생 정보";
}

<h2>학생 정보</h2>

<div>
    <h4>학생 정보</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            이름
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            나이
        </dt>
        <dd class="col-sm-10">
            @Model.Age
        </dd>
        <dt class="col-sm-2">
            키
        </dt>
        <dd class="col-sm-10">
            @Model.Height
        </dd>
        <dt class="col-sm-2">
            성별
        </dt>
        <dd class="col-sm-10">
            @(Model.Gender == 0 ? "남성" : "여성")
        </dd>
        <dt class="col-sm-2">
            대학교
        </dt>
        <dd class="col-sm-10">
            @Model.UniversityName
        </dd>
    </dl>
</div>
<a href="@Url.Action("Index")" class="btn btn-primary">뒤로 가기</a>